[Desktop Entry]
Version=1.0
Type=Application
Name=ASTERIX Password & Hash Suite
GenericName=Cryptanalysis & Password Auditing
Comment=Hashcat, John The Ripper, Hydra, Crunch, HashID
Exec=x-terminal-emulator -T "ASTERIX PASSWORDS" -e "/usr/local/bin/asterix --passwords"
Icon=utilities-terminal
Terminal=false
Categories=Security;
StartupNotify=true
Keywords=password;hashcat;john;hydra;crunch;hash;crack;
